{% extends "base.html" %}

{% block subtitle %}
    <h2 class="mb-4" style="font-family:'Press Start 2P'; font-size:2rem; color:#00FF00;">
        Mon profil
    </h2>
{% endblock %}

{% block main %}
    <div class="text-start mx-auto" style="max-width: 500px;">
        <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
        <p><strong>Email :</strong> {{ user.email }}</p>
        <p><strong>Date d'inscription :</strong> {{ user.date_joined|date:"d/m/Y H:i" }}</p>
    </div>
    <a href="{% url 'pacmint_app:logout' %}" class="btn btn-outline-warning mt-4">Se déconnecter</a>
{% endblock %}
