<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/ChatGPT Image 3 avr. 2025, 14_01_00.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pac-Mint - Accueil</title>
    <link rel="stylesheet" href="static/pacmint_app/home.css">
</head>
<body>
    <div class="game-container">
        <h1 class="title">PAC-MINT</h1>
        <div class="pacman"></div>
        <div class="buttons">
            <a href="/inscription" class="btn">S'inscrire</a>
            <a href="/login" class="btn">Se connecter</a>
        </div>
    </div>
</body>
</html>
